! Various terminal settings {{{
! https://unix.stackexchange.com/questions/81746/how-can-i-get-better-looking-fonts-in-my-terminal-urxvt
!URxvt.font:     xft:bitstream vera sans mono:size=8:antialias=true
!URxvt.boldFont: xft:bitstream vera sans mono:bold:size=8:antialias=true
!URxvt.font:     xft:DejaVu Sans Mono:size=12:antialias=true
!URxvt.boldFont: xft:DejaVu Sans Mono:bold:size=12:antialias=true
URxvt.font:     xft:Hack:regular:size=10:antialias=true
URxvt.boldFont: xft:Hack:bold:size=10:antialias=true
urxvt.foreground: green
urxvt.background: black
urxvt.loginShell: true
urxvt.scrollBar: false
urxvt.colorMode: on
urxvt.boldColors: on
urxvt.dynamicColors: on
urxvt.colorAttrMode: on
URxvt.urgentOnBell: true

URxvt.perl-ext-common: background,font-size
URxvt.font-size.step: 4
URxvt.background.expr: rootalign shade -0.7, root
! }}}

! HiDPI and font related settings {{{
! http://vincent.jousse.org/tech/archlinux-retina-hidpi-macbookpro-xmonad/
! https://wiki.archlinux.org/index.php/HiDPI#X_Server
Xft.antialias: true
Xft.rgba:      rgb
Xft.hinting:   true
!Xft.autohint:  0
!Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.dpi:       96
!Xft.dpi:       120
!Xft.dpi:       144
!Xft.dpi:       175
!Xft.dpi:       168
!Xft.dpi:       192
! }}}

! More info found in urxvt(1)
! Black
urxvt.color0: black
! Red
urxvt.color1: red3
! Green
urxvt.color2: green3
! Yellow
urxvt.color3: yellow3
!!Blue
urxvt.color4: rgb:4c/4c/ff
! Magenta
urxvt.color5: magenta3
! Cyan
urxvt.color6: cyan3
! White
urxvt.color7: gray90
! Bright black?
urxvt.color8: gray50
! Bright red
urxvt.color9: red
! Bright green
urxvt.color10: green
! Bright yellow
urxvt.color11: yellow
*VT100.color11: yellow
! Bright blue
urxvt.color12: rgb:5c/5c/ff
! Bright magenta
urxvt.color13: magenta
! Bright cyan
urxvt.color14: cyan
! Bright white
urxvt.color15: white

*inputMethod: kinput2

! Sometimes, with my auto-ssh-askpass.sh, ssh-askpass will seemingly grab the
! keyboard before xscreensaver, causing the contents of the screen to be
! revealed to on-lookers. This hopefully fixes the problem:
SshAskpass*grabKeyboard: False

! xvkbd - Virtual on-screen keyboard for touch screens etc
xvkbd.keypad: false
xvkbd.customization: -norwegian
xvkbd.compact: true

rofi.bc: #000000
rofi.terminal: urxvt
rofi.monitor: -1
rofi.ssh-client: mosh
